body {
    margin: 0px;
}
header {
    background-color: #222;
    color: white;
    height: 100px;
}
main {
    background-color: #ccc;
}
footer {
    background-color: #222;
    color: white;
    height: 50px;
}
header, main, footer {
    padding: 20px;
 }
 
nav {
    text-align: right;
}
ul.nav li {
    list-style: none;
    display: inline;
    margin-left: 40px;
}
.copyright {
    text-align: center;
}
img {
    float: right;
}
.clear {
    clear: both;
}
article {
    font-size: .6em;
    border: 1px solid #888;
    padding: 20px;
    border-radius: 20px;
}
section {
    border-bottom: 1px solid #888;
    margin-bottom: 20px;
}